body {
  background-color: #f4f4f3;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.car-logo {
  height: 100px;
	display: flex;
	justifyContent: center;
	alignItems: center;
	margin: 0 auto;
  padding-top: 380px;
}

.container {
  margin: 0 auto;
  width: 110px;
}

.detector-window{
  position: absolute;
  top: 0px;
  width: 800px;
  height: 380px;
}

.detector-toggle{
  position: absolute;
  display:inline-block;
  padding:0.15em 0.3em;
  border:0.1em solid #312138;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: #312138;
  text-align:center;
}

.detector-toggle:hover{
  color:#000000;
  background-color:#FFFFFF;
}

.bounding-box{
  position: absolute;
  border: 3px solid;
}

.bounding-box p{
  text-align: center;
  font-weight: bold;
}

.vehicle-box{
  border-color: #c04646;
}

.ped-box{
  border-color: #4666c0;
}

.lane-left{
  float: left;
  width: 5px;
  background-color: #090927;
  height: 480px;
}

.lane-right{
  margin-top: -480px;
  float: right;
  width: 5px;
  background-color: #090927;
  height: 480px;
}
